# Mistral AI
MISTRAL_API_KEY=GPBpdcysgPL5wMYdfIFYhbEBbti8QQTk

# JWT Secret
JWT_SECRET=tianreformis

# Neon Database (PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_0blh8QXpDnjf@ep-red-mouse-a1vbzxfg-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_URL=postgresql://neondb_owner:npg_0blh8QXpDnjf@ep-red-mouse-a1vbzxfg-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Midtrans Payment
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false