# Mistral AI
MISTRAL_API_KEY=

# JWT Secret
JWT_SECRET=

# Neon Database (PostgreSQL)
DATABASE_URL=
DIRECT_URL=

# Midtrans Payment
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false